name: mf_bluetooth_printer_example
description: Example app for mf_bluetooth_printer package.
publish_to: 'none'

environment:
  sdk: '>=3.0.0 <4.0.0'

dependencies:
  flutter:
    sdk: flutter
  mf_bluetooth_printer:
    path: ../
